@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

//import files
@import "variables";
@import "header";
@import "dashboard";
@import "allCompanies";
@import "futureListings";
@import "sliderSection";
@import "stories";
@import "about";
@import "portfolioCompanies";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fonts;
}

body {
  background-color: rgb(227, 235, 238);
}

.line {
  display: flex;
  justify-content: center;
  margin: 20px;
  > div {
    width: 1180px;
    height: 1px;
    background-color: #5a80b6;
  }
}
